.header {
    font-family: 'Times New Roman', Times, serif;
    font-size: 55px;
    font-weight: bold;
    color: aqua;
}

.links .links {
    background-color: blueviolet;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    
}

* {
    background-color: blueviolet;
}